---
export const prerender = true;

import Layout from "../layouts/Layout.astro";

import BrowserTab from "components/pages/download/BrowserTab.astro";
import AndroidTab from "components/pages/download/AndroidTab.astro";
import DownloadTabs from "components/pages/download/index.svelte";
---

<Layout
    title="Download BetterVLR"
    description="Download BetterVLR for your favourite Browser or Android"
>
    <DownloadTabs client:load>
        <h1 class="p-page-title" slot="title">Download BetterVLR</h1>
        <BrowserTab slot="browserTab" />
        <AndroidTab slot="androidTab" />
    </DownloadTabs>
</Layout>

<style>
    h1 {
        color: var(--accentRed);
    }
</style>
